<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 quote section">
      <form class="ngForm" ngSubmit="onSubmt()">
        <label for="">Quote</label>
        <input class="form-control" type="text" name="quote" />
        <label for="">Author</label>
        <input class="form-control" type="text" name="author" />
        <label for="">Your name</label>
        <input class="form-control" type="text" name="user" />
        <button (click)="onSubmit()" class="btn submit-btn btn-primary btn-lg">
          Submit your quote
        </button>
      </form>
 <!-- For the two way data binding section -->
      <div class="return-section">
        <p class="return-text">Quote:</p>
        <p class="return-text">Author:</p>
        <p class="return-text">Your Name:</p>
      </div>
    </div>
  </div>
</div>
